@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <title> About: GearVenturesNepal</title>
}

<div class="container">
    <!-- About Us Page -->
    <div class="body">
        <div class="body-shape"></div>
        <img class="gvn-logo-3" alt="" src="~/public/gvn-logo-3@2x.png" />

        <div class="header">
            <b class="about-us">About Us</b>
        </div>
        <div class="header-text">
            <b class="more-than-5">More than 5 years of experience</b>
        </div>
        <div class="paragraph">
            <b class="the-riding-gears-container">
                <p class="the-riding-gears">
                    The riding gears have always been very important in the biking
                    world. Where
                </p>
                <p class="the-riding-gears">
                    there is a popular product we all know that the duplicates don’t
                    take time to arrive.
                </p>
                <p class="the-riding-gears">
                    Today we are going to talk about a company that provides authentic
                    riding
                </p>
                <p class="the-riding-gears">
                    accessories in Nepal. As the name, GearVentures Nepal is the
                    one-stop solution for the riding gears, riding accessories, power
                    parts, and many more things. Gear Ventures Nepal is a place where
                    you can order anything related to riding accessories and gears with
                    100% original products delivered all over Nepal.
                </p>
            </b>
        </div>

        <button class="contact-us-button">
             <a href="~/Home/Contact" style="text-decoration: none; color: black;">
                <span class="contact-us-button-text" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='black'">Contact Us</span>
            </a>
        </button>

        <!-- Services -->
        <div class="services">
            <div class="service-ui"></div>
            <b class="services-header">Services</b>
            <img class="image-for-home-delivery" alt="" src="~/public/image-for-home-delivery@2x.png" />
            <img class="image-for-consulting" alt="" src="~/public/image-for-consulting@2x.png" />
            <img class="image-for-geniune-product" alt="" src="~/public/image-for-geniune-product@2x.png" />
            <b class="header-for-home">Home Delivery</b>
            <b class="header-for-consulting">Consulting</b>
            <b class="header-for-geniune">Genuine Products</b>
            <div class="text-for-home">
                We deliver your products right at your door step
            </div>
            <div class="text-for-genuine">
                100 percent authentic International Branded Products
            </div>
            <div class="text-for-consulting-container">
                <p class="paragraph-for-consulting">
                    Confusion about the products for your vehicle?  
                </p>

                <p class="paragraph-for-consulting-1">
                   Dont Hesitate to Reach out
                </p>

            </div>
        </div>

    </div>
</div>
